{% extends "base.html" %}
{% block title %}Consultant Applications{% endblock %}

{% block content %}
<h1 class="page-title">Consultant Applications</h1>

<div id="appinfo" class="info-bubble">
  <h2 class="subtitle">Requirements</h2>
  <p>The Writing Center consultant application process takes place during February and March. Consultants are chosen
    based on a variety of different characteristics such as:</p>
  <ul>
    <li>Ability to commit time to the writing center</li>
    <li>Ability to work well with a variety of people</li>
    <li>Strong writing skills and knowledge</li>
    <li>Interest in the Writing Center</li>
    <li>Willingness to learn and take feedback</li>
  </ul>
</div>

<div id="apptext2" class="info-bubble">
  <h2 class="subtitle">Application Process</h2>
  <p>
    Consultants will first fill out a Google Form when it is made available in late February. Once the form application
    portion is filled out, some applicants will be invited to interviews that make up the second wave of the application
    process. Following the interviews, status for Writing Center Consultant acceptance will be relayed to all interested
    parties.
  </p>
</div>
{% endblock %}