{% extends "base.html" %}
{% block title %}Staff{% endblock %}

{% block content %}
<h1 id="ConsultantsTitle">
  Consultants
  <br><br>
  <div class="Consultantsbg">
    <img id="consultantsimg" src="./public/WC2025.jpg" alt="Consultants picture">
  </div>
</h1>

<div class="consultants">
  <h2 id="meetTheTeam">Meet the Team:</h2>
  <ul id="firstList" class="info-bubble">
    <li>Maya Burnette (11th Grade)</li>
    <li>Finley Drake (12th Grade)</li>
    <li>Bryan Hagood (12th Grade)</li>
    <li>Fatima Hasan (11th Grade)</li>
    <li>Nicholas Hawkins (12th Grade)</li>
    <li>Zahra Karzai (11th Grade)</li>
    <li>Aleksander Kurgan (12th Grade)</li>
    <li>Vitor Macedo (11th Grade)</li>
    <li>Ella Pawlewicz (12th Grade)</li>
  </ul>
  <ul id="secondList" class="info-bubble">
    <li>Kaila Pietrowski (12th Grade)</li>
    <li>Hasita Ponnada (12th Grade)</li>
    <li>Sydney Purcell (12th Grade)</li>
    <li>Josie Ricci (11th Grade)</li>
    <li>Norah Sahli (12th Grade)</li>
    <li>Genna Sessoms (12th Grade)</li>
    <li>Clara Smith (11th Grade)</li>
    <li>Sofia Thews (12th Grade)</li>
    <li>Vrinda Uddaraju (11th Grade)</li>
  </ul>
</div>
{% endblock %}
