{% extends "base.html" %}
{% block title %}Staff{% endblock %}

{% block content %}
<h1 id="ConsultantsTitle">
  Consultants
  <br><br>
  <div class="Consultantsbg">
    <img id="consultantsimg" src="./public/WC2025.jpg" alt="Consultants picture">
  </div>
</h1>

<div class="consultants">
  <h2 id="meetTheTeam">Meet the Team:</h2>
  <ul id="firstList" class="info-bubble">
    <li>Sana Al-Bairaqdar (12th Grade)</li>
    <li>Thanusha Bommakanti (11th Grade)</li>
    <li>Maya Burnette (12th Grade)</li>
    <li>Alexander Cook (11th Grade)</li>
    <li>Miramina Guirguis (11th Grade)</li>
    <li>Fatima Hasan (12th Grade)</li>
    <li>Kate Hopkins (11th Grade)</li>
    <li>Zahra Karzai (12th Grade)</li>
    <li>Simrita Kaur (11th grade)</li>
  </ul>
  <ul id="secondList" class="info-bubble">
    <li>Max Leo (12th Grade)</li>
    <li>Vitor Macedo (12th Grade)</li>
    <li>Josie Ricci (12th Grade)</li>
    <li>Akshaya Sadhasivam (11th Grade)</li>
    <li>Fenya Santoso (11th Grade)</li>
    <li>Clara Smith (12th Grade)</li>
    <li>Vrinda Uddaraju (12th Grade)</li>
    <li>Navya Vemuri (11th Grade)</li>
    <li></li>
  </ul>
</div>
{% endblock %}
