{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="home_header">
  <div class="home_logo">
    <img alt="Deep Run Writing Center" src="./public/BigLogo.png">
  </div>
  <div class="buttons">
    <ul>
      <li><a href="./signups.html" class="button">Book An Appointment</a></li>
    </ul>
  </div>
</div>

<h2 id="headindex" class="info-bubble">
  An Institutional Member of the
  <a href="https://southeasternwritingcenter.wildapricot.org/" target="_blank">Southeastern Writing Center Association</a>
</h2>

<div id="indexside">
  <div id="indexbody" class="info-bubble">
    <p class="text1">
      The Deep Run Writing Center is a place where all are welcome. Students can request an appointment with a consultant
      where they can get feedback on different forms of writing. It is currently sponsored by Mrs.
      Tambellini and Mrs. Cho, who are both English Teachers at Deep Run. The Writing Center offers consultation that can help
      fellow students perfect their writing. Open on Tuesdays and Wednesdays during both lunches.
    </p>
  </div>
</div>
{% endblock %}
